header nav{
    justify-content: space-around;
}
nav section ul li{
    margin: 0 35px;
}
#menu{
    display: none;
    /* position: absolute; */
}
#menu-bar{
    position: inherit;
}
.nav{
    display: flex;
}
main.about-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 66px 10px 10px;
    max-width: 1140px;
}
section.text-container{
    max-height: 800px;
    margin: 0;
}
main .img-container img{
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 200px;
}
.profile-photo{
    width: 100%;
    height: 100%;
}

/* post */
section.text-container, main.post-container {
    margin: auto;
    padding: 66px 10px 10px;
    max-width: 1140px;
}

.post-container-imgcont{
    height: 500px;
}
.post-container-imgcont__img{
    max-height: 100%;
    object-fit: cover;
}
/* blogs */
.main-container-blog-posts{
    margin: auto;
    padding: 66px 0px 0px;
    max-width: 1140px;
}