:root{
    --black: #2A2529;
    --dark-blue: #21212C;
    --date-blue: #CCDAFF;
    --gray-active: #EAEAEA;
    --gray-off: #7C7777;
    --white-text: #FFFCFC;
    --linkedin-color: #0A66C2;
    --web-color: #657EFF;
    --yt-color: #FF0000;
    --spotify-color: #1ED760;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: var(--dark-blue);
}
a{
    text-decoration: none;
    color: var(--white-text);
}
header nav{
   background-color: var(--black);
   color: var(--white-text); 
   display: flex;
   justify-content: center;
   height: 59px;
   text-align: center;
}
header nav h1{
   font-size: 2.4rem;
   font-weight: normal;
   align-self: center;
}
main{
    background-color: var(--dark-blue);
    justify-content: center;
    height: 85vh;
}
main .img-container{
    display: flex;
    width: 100vw;
    align-self: center;
    justify-content: center;
}
main .img-container img{
    margin-top: 80px;
    min-width: 176px;
    height: 181px;
    border-radius: 100px;
    background-position: cover;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}
section.text-container{
    background-color: var(--black);
    margin:0px 40px 40px 40px;
    line-height: 30px;
    padding: 15px;
}
section.text-container div.text-description{
    color: var(--white-text);
    padding: 5px;
    margin: 10px 3px 40px 3px;
    font-size: 2.6rem;
}

p .linkedin-a{
    color: var(--linkedin-color);
}
p .this-website-a{
    color: var(--web-color);
}
p .yt-a{
    color: var(--yt-color);
}
p .spotify-a{
    color: var(--spotify-color);
}
#menu{
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}
.bar{
    height: 5px;
    width: 100%;
    background-color: var(--white-text);
    display: block;
    border-radius: 5px;
}
#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}