:root{
    --black: #2A2529;
    --dark-blue: #21212C;
    --date-blue: #CCDAFF;
    --gray-active: #EAEAEA;
    --gray-off: #7C7777;
    --white-text: #FFFCFC;
    --linkedin-color: #0A66C2;
    --web-color: #657EFF;
    --yt-color: #FF0000;
    --spotify-color: #1ED760;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: var(--dark-blue);
}
a{
    text-decoration: none;
    color: var(--white-text);
}
header nav{
   background-color: var(--black);
   color: var(--white-text); 
   display: flex;
   justify-content: center;
   height: 59px;
   text-align: center;
}
header nav h1{
   font-size: 2.4rem;
   font-weight: normal;
   align-self: center;
}
main{
    background-color: var(--dark-blue);
    justify-content: center;
    height: 85vh;
}
main .img-container{
    display: flex;
    width: 100vw;
    align-self: center;
    justify-content: center;
}
main .img-container img{
    margin-top: 80px;
    min-width: 176px;
    height: 181px;
    border-radius: 100px;
    background-position: cover;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}
section.text-container{
    background-color: var(--black);
    margin:0px 40px 40px 40px;
    line-height: 30px;
    padding: 15px;
}
section.text-container div.text-description{
    color: var(--white-text);
    padding: 5px;
    margin: 10px 3px 40px 3px;
    font-size: 2.6rem;
}

.linkedin-a{
    color: var(--linkedin-color);
}
.this-website-a{
    color: var(--web-color);
}
.yt-a{
    color: var(--yt-color);
}
.spotify-a{
    color: var(--spotify-color);
}
#menu-bar, #menu-bg{
    position: fixed;
    bottom: 1%;
    right: 3%;
}
#menu{
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    position: fixed;
    bottom: 1%;
    right: 3%;
}
.nav{
    display: none;
    transition: 0.3s ease;
}
.bar{
    height: 5px;
    width: 100%;
    background-color: var(--gray-active);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}
.change .bar{
    background-color: var(--white-text);
}
.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
    transform: translateY(-6px) rotateZ(45deg);
}
.change #bar2{
    opacity: 0;
}
.nav li{
    padding: 16px 0;
    list-style: none;
}
.nav li a{
    color: var(--white-text);
    font-size: 2rem;
}
.nav ul{
    padding: 0;
    margin: 0 50px;
    transition: 0.3s ease;
    display: none;
}
.change, ul{
    display: block;
}

.menu-bg{
    z-index: -1;
    width: 0;
    height: 0;
    background: radial-gradient(circle,var(--black),var(--dark-blue));
    transition: 0.3s ease;
    border-radius: 50%;
}
.menu-bg, #menu-bar{
    bottom: 1%;
    right: 3%;
}
#menu-ul{
    z-index: 2;
}
.change-bg{
    width: 550px;
    height: 540px;
    transform: translate(60%,30%);
}
#menu-bar{
    margin-bottom: 70px;
}
.link{
    text-decoration: underline;
}
.title-post{
    color: var(--white-text);
    font-size: 2.4rem;
    font-weight: normal;
    padding: 15px 28px;
}
.blog-posts{
    display: flex;
    flex-wrap: wrap;
}
.card-post{
    background-color: var(--black);
    margin: 20px;
}
.card-post img{
    width: 95%;
    margin: 10px;
    height: 70%;
    max-height: 200px;
    object-fit: cover;
}
.img-card-container{
    display: flex;
    justify-content: center;
}
.post-card--content{
    padding: 10px 20px;
}
.post-card--content__title{
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 20px;
}
.post-card--content__description{
    color: var(--white-text);
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
}
.post-card--content__date{
    color: var(--date-blue);
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
}
.post-container{
    margin: 0px 30px;
    min-width: 332px;
}
.post-container__title{
    font-size: 2.4rem;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.post-container-imgcont__img{
    width: 100%;
    max-height: 193px;
    object-fit: cover;
}
.post-container__content{
    margin-top: 60px;
    width: 100%;
    font-weight: normal;
    font-style: normal;
    line-height: 26px;
    color: var(--gray-active);
    font-size: 1.8rem;
}
.post-date{
    padding-bottom: 70px;
}
