section.text-container,main.post-container{
    margin: 0px 150px 40px 150px;   
}
section.blog-posts{
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.card-post{
    margin: 20px;
    min-height: 320px;
    max-width: 330px;
}
.card-post img{
    min-height: 200px;
}