/*header nav*/
.navContainer{
   background-color: var(--black);
   color: var(--white-text); 
   display: flex;
   justify-content: center;
   height: 59px;
   text-align: center;
}
.h1{
   font-size: 2.4rem;
   font-weight: normal;
   align-self: center;
}
.nav{
    display: none;
    transition: 0.3s ease;
}
.nav li{
    padding: 6px 0;
    list-style: none;
}
.nav li a{
    color: var(--white-text);
    font-size: 2rem;
}
.nav ul{
    padding: 0;
    margin: 0 50px;
    transition: 0.3s ease;
    display: none;
}

#menu_ul{
    z-index: 2;
}
#menu_bar, #menu-bg{
    position: fixed;
    bottom: 1%;
    right: 3%;
}
.menu_bg, #menu_bar{
    bottom: 1%;
    right: 3%;
}
.menu_bg{
    z-index: -1;
    width: 0;
    height: 0;
    background: radial-gradient(circle,var(--black),var(--dark-blue));
    transition: 0.3s ease;
    border-radius: 50%;
}
.bar{
    height: 5px;
    width: 100%;
    background-color:var(--gray-active);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}
#menu{
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    position: fixed;
    bottom: 1%;
    right: 3%;
    z-index: 501;
}
#menu_bar{
    margin-bottom: 70px;
}
#menu_bar{
    z-index: 5;
}
#overlay{
    background-color:rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(2px); */
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1;
    display:none;
}

.change .bar{
    background-color: var(--white-text);
}
.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
    transform: translateY(-6px) rotateZ(45deg);
}
.change #bar2{
    opacity: 0;
}

/* .change, ul{
    display: block;
} */







/* laptop */
/* (min-width: 1024px) */
@media (min-width: 1024px) {
    .navContainer{
        justify-content: space-around;
    }
    .navContainer section ul li{
        margin: 0 35px;
    }
    #menu{
        display: none;
        /* position: absolute; */
     } 
    #menu_bar{
        position: inherit;
    }
    .nav{
        display: flex;
    }       
   }
