

.title_post{
	color: var(--white-text);
	font-size: 5rem;
	font-weight: normal;
}

.text{
    width: 80%;
    font-weight: normal;
    font-style: normal;
    line-height: 26px;
    color: var(--gray-active);
    font-size: 3rem;
	display: flex;
	justify-content: center;
}
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.return_home{
    color:#8dc425;
    font-size: 2.5rem;

}
/* tablet */
@media (min-width: 768px) {

	.text{
    	width: 100%;
	}
}